*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media (max-width: 75em) {
    html {
        font-size: 56.25%;
        scroll-behavior: smooth;
    }
}

@media (max-width: 56.25) {
    html {
        font-size: 50%;
        scroll-behavior: smooth;
    }
}

@media (max-width: 37.5em) {
    html {
        font-size: 30%;
        scroll-behavior: smooth;
    }
}

@media (min-width: 112.5em) {
    html {
        font-size: 75%;
        scroll-behavior: smooth;
    }
}

body {
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color:black;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}



/* card page starts */


.ceo-container{
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

.ceo-heading{
    font-size: 4.5rem;
    color:orangered;
    font-weight: 600;
    padding-top:8rem;
    padding-bottom:4rem;
}

.ceo-card{
    width:70rem;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:3rem;
    background-color: white;
    border: 1px #888888 solid;
    padding: 10px;
    box-shadow: 6px 6px #888888;
}

/* .left-side-card{

} */

.ceo-img-box{
    margin-left:auto;
    margin-right:auto;
    height:15rem;
    width:15rem;
    border-radius:50%;
    margin-top:2rem;
    margin-bottom:3rem;
}
.links{
    margin:auto;
    margin-bottom: 2rem;
    margin: auto;
}

.links-list{
    margin-bottom: 1.5rem;
}

.links-list-el{
    font-size: 1rem;
    float:left;
    margin-left: 2.7rem;
    margin-bottom: 3rem;

}

/* .right-side-card{
    
} */

.name{
    font-size:2.5rem;
    font-weight: 600;
    margin-bottom:0.2rem;
    color:green;
}
.position{
    font-size:1.5rem;
    font-weight: 600;
    margin-bottom:2rem;
    /* color:rgb(118, 113, 113); */
    color:#F89C13;
}

.intro{
    width:45rem;
    font-size:1.5rem;
    font-weight:600;
    margin-bottom: 1.4rem;
    color: purple;
}

.fa-facebook{
    font-size: 2.5rem;
    color: blue;
}
.fa-facebook:hover{
    color:orange;
}


.fa-linkedin{
    font-size: 2.5rem;
    color: blue;
}
.fa-linkedin:hover{
    color:orange;
}
.hid-text{
    /* display: none; */
    padding-top: 3rem;
    color:#BECCCE;
}




/* Footer stsrts here */



svg#freepik_stories-team-spirit:not(.animated) .animable {opacity: 0;}svg#freepik_stories-team-spirit.animated #freepik--background-complete--inject-582 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;animation-delay: 0s;}svg#freepik_stories-team-spirit.animated #freepik--Floor--inject-582 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) lightSpeedRight;animation-delay: 0s;}svg#freepik_stories-team-spirit.animated #freepik--character-4--inject-582 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideDown;animation-delay: 0s;}svg#freepik_stories-team-spirit.animated #freepik--character-3--inject-582 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;animation-delay: 0s;}svg#freepik_stories-team-spirit.animated #freepik--character-1--inject-582 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;animation-delay: 0s;}svg#freepik_stories-team-spirit.animated #freepik--character-2--inject-582 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) lightSpeedLeft;animation-delay: 0s;}            @keyframes zoomOut {                0% {                    opacity: 0;                    transform: scale(1.5);                }                100% {                    opacity: 1;                    transform: scale(1);                }            }                    @keyframes lightSpeedRight {              from {                transform: translate3d(50%, 0, 0) skewX(-20deg);                opacity: 0;              }              60% {                transform: skewX(10deg);                opacity: 1;              }              80% {                transform: skewX(-2deg);              }              to {                opacity: 1;                transform: translate3d(0, 0, 0);              }            }                    @keyframes slideDown {                0% {                    opacity: 0;                    transform: translateY(-30px);                }                100% {                    opacity: 1;                    transform: translateY(0);                }            }                    @keyframes zoomIn {                0% {                    opacity: 0;                    transform: scale(0.5);                }                100% {                    opacity: 1;                    transform: scale(1);                }            }                    @keyframes lightSpeedLeft {              from {                transform: translate3d(-50%, 0, 0) skewX(20deg);                opacity: 0;              }              60% {                transform: skewX(-10deg);                opacity: 1;              }              80% {                transform: skewX(2deg);              }              to {                opacity: 1;                transform: translate3d(0, 0, 0);              }            }       