*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media (max-width: 75em) {
    html {
        font-size: 56.25%;
        scroll-behavior: smooth;
    }
}

@media (max-width: 56.25) {
    html {
        font-size: 50%;
        scroll-behavior: smooth;
    }
}

@media (max-width: 37.5em) {
    html {
        font-size: 30%;
        scroll-behavior: smooth;
    }
}

@media (min-width: 112.5em) {
    html {
        font-size: 75%;
        scroll-behavior: smooth;
    }
}

body {
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color:black;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


/* Landing page starts */

nav{
    display:flex;
    flex-direction: row;
    font-weight:600;
    font-size:2.5rem;
    z-index:20;
    height:13rem;
    width:100%;
    position: fixed;
}
ul{
    list-style: none;
}
a{
    color:inherit;
    text-decoration: none;
    
}
.navbar-list{
    flex:3;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height:13rem;
    color:white;
}

.logo-box{
   flex:1;
   display:flex;
   justify-content: space-around;
   align-items:center;
   height:13rem;
}

/* .logo-img{
 
} */


.landing-page{
    height: 120vh;
    width:100vw;
    background-image:linear-gradient(rgba(61, 55, 55, 0.531),rgba(86, 76, 76, 0.524)), url(../assets/about-landing.jpg);
    background-size: cover;
    background-position: center;
}

.heading{
    position: absolute;
    top:50%;
    lefT:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}

.main-heading{
    /* font-family: "Roboto"; */
    font-size:8.5rem;
    color:white;
    margin-bottom:1.5rem;
    font-weight:600;
}

.sub-heading{
    font-size:2.5rem;
    color:white;
    font-weight: 700;
    margin-bottom: 2.5rem;
}
.meet-btn{
    font-size:2.3rem;
    padding:1.7rem 1.9rem;
    outline:none;
    border:none;
    cursor: pointer;
}


/* foooter starts from here */

.footer-container{
    background-color:#1B1C1D ;
    height:33rem;
    display:flex;
    flex-direction: column;
    font-size:1.4rem;
}

.info{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
}

.main-menu{
    height:15rem;
}
.contact-us{
    height:15rem;
}
.footer-heading{
    color:white;
    text-align: center;
    margin-bottom: 1rem;
    margin-top:3.8rem;
}
.footer-list{
    color:rgb(206, 191, 191);
    list-style: none;
}

.iit-kgp{
    color:rgb(206, 191, 191);
}
.logof-box{
    margin-top: 3.5rem;
    margin-left: auto;
    margin-right: auto;
    height: 4rem;
    width: 4rem;
}
.copyright{
    color:rgb(206, 191, 191);
    text-align: center;
    margin-top: 4rem;

}