.footer-container{
    background-color:#1B1C1D ;
    height:34rem;
    display:flex;
    flex-direction: column;
    font-size:1.4rem;
}

.info{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
}

.main-menu{
    height:15rem;
}
.contact-us{
    height:15rem;
}
.footer-heading{
    color:white;
    text-align: center;
    margin-bottom: 1rem;
    margin-top:3.8rem;
}
.footer-list{
    color:rgb(206, 191, 191);
    list-style: none;
}

.iit-kgp{
    color:rgb(206, 191, 191);
}
.logof-box{
    margin-left: auto;
    margin-right: auto;
    height: 9rem;
    width: 18rem;
}
.copyright{
    color:rgb(206, 191, 191);
    text-align: center;
    margin-top: 4rem;
    /* padding-bottom: 2rem; */
}

