nav{
    font-weight:300;
    font-size:2rem;
    z-index:20;
    height:8.5rem;
    width:100%;
    position: fixed;
    text-transform: uppercase;
    color:white;
}

.scroll-theme{
    display:flex;
    flex-direction: row;
    font-weight:600;
    font-size:2.5rem;
    z-index:20;
    height:8.5rem;
    width:100%;
    position: fixed;
    background-color: white;
    
    /* box-shadow: ; */
}
.black{
    color:black !important;
}
ul{
    list-style: none;
}
a{
    color:inherit;
    text-decoration: none;

    
}
.link-hover:hover{
    color:#F69A13;
}
.navbar-list{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height:8.5rem;
    width:50vw;
    /* color:white; */
}

.logo-box{
  position: absolute;
  top:1.5rem;
  right:6rem;
}

/* .logo-img{
 
} */


.landing-page{
    height: 120vh;
    width:100vw;
    /* background-color: #00A896; */
    background-image:url('../assets/landing-3.jpg');
    background-size: cover;
    background-position: center;
}

.heading{
    text-align:center;
}

.main-heading{
    font-family: "Lato", sans-serif;
    font-size:6rem;
    color:white;
    margin-bottom:1.5rem;
    font-weight:400;
    letter-spacing: 2.5rem;
    text-transform: uppercase;
}

.sub-heading{
    font-family: "Lato", sans-serif;
    font-size:2rem;
    color:yellow;
    font-weight:400;
    letter-spacing: 0.7rem;
    text-transform: uppercase;
}

.meet-btn{
    font-size:2.3rem;
    padding:1.7rem 1.9rem;
    outline:none;
    border:none;
    cursor: pointer;
    margin-top:5rem;
    background-color: transparent;
    border: 0.3rem white solid;
    color:white;
}
.meet-btn:hover{
     background-color: white;
     color:black;
}

.mainpage{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
    align-items: center;
    width:100%;
    min-height:100vh;
}
.svg{
    width:50rem;
    height:40rem
}

@media(max-width:80rem){

    .logo-img{
      height:8rem;
      width:12rem;
    }
    .navbar-list{
        display: none;
    }
}